// xl
@include xl{
    .container{
        max-width: $lg;
    }
}
// lg
@include lg{
    .container{
        max-width: $md;
    }
}
// md
@include md{
    .container{
        max-width: $sm;
    }
}
// sm
@include sm{
    .container{
        max-width: 100%;
    }
}