*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, ol, li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $dark;
}
input,
textarea,
select,
option,
progress,
button{
    outline: none;
}
textarea{
    resize: none;
}
button{
    cursor: pointer;
    border: none;
}
body{
    font-family: 'bahn-400';
    font-weight: 300;
    color: $dark;
    font-size: 18px;
    // background: $bg-color
}
.container{
    width: 100%;
    max-width: 1889px;
    padding: 0 20px;
    margin: 0 auto;
}