@import '../var.scss';
@import '../mixins.scss';

.content{
    background:$green;
    .container{
        .wrapper{
            display: flex;
            justify-content: space-between;
            color: $white;
            
            .text-content{
                .top-con{
                    .title{
                        font-weight: 400;
                        font-size: 40px;
                        text-transform: uppercase;
                        margin:30px 0 20px;
                        @include media(1630px){
                            text-align: center;
                        }
                        @include sm{
                            font-size: 30px;
                        }
                    }
                    .box{
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        gap: 150px;
                        @include media(1630px){
                            justify-content: center;
                        }
                        @include md{
                            flex-wrap: wrap;
                        }
                        @include media(725px){
                            gap: 45px;
                        }
                        
                        .item{
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            &:nth-child(2){
                                .circle{
                                    background: #F29114;
                                }
                            }
                            &:nth-child(3){
                                .circle{
                                    background: #F08AA8;
                                }
                            }
                            @include media(725px){
                                width: 252px;
                             }
                            
                            .circle{
                                width: 60px;
                                height: 60px;
                                background: $yellow;
                                border-radius: 50%;
                            }
                            .subtitle{
                                font-size: 20px;
                                margin-top: 9px;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .map{
                    overflow: hidden;
                    border-radius: 60px;
                    height: 400px;
                    
                    
                    iframe{
                        width: 100%;
                        height: 100%;
                        background: #f2f2f2;
                    }
                }
                .center-con{
                    .title{
                        font-size: 40px;
                        text-transform: uppercase;
                        font-weight: 400;
                        margin: 25px 0 25px;
                        @include media(1630px){
                            text-align: center;
                        }
                        @include sm{
                            font-size: 30px;
                        }
                    }
                    .box{
                        display: flex;
                        align-items: center;
                        gap: 118px;
                        @include media(1630px){
                            justify-content: center;
                        }
                        @include md{
                            flex-wrap: wrap;
                        }
                        @include media(725px){
                            gap: 70px;
                        }
                        
                        .card{
                            text-align: center;
                            @include media(725px){
                               width: 252px;
                            }
                            .img-title{
                                font-size: 23px;
                                font-weight: 400;
                                text-transform: uppercase;
                                padding-bottom: 5px;
                            }
                            .subtitle{
                                font-size: 20px;
                            }
                        }
                    }
                }
                .center-bottom{
                    .title{
                        font-size: 40px;
                        text-transform: uppercase;
                        font-weight: 400;
                        margin: 25px 0 25px;
                        @include media(1630px){
                            text-align: center;
                        }
                        @include sm{
                            font-size: 30px;
                        }
                        
                    }
                    .box{
                        display: flex;
                        align-items: center;
                        gap: 100px;
                        @include media(1630px){
                            justify-content: center;
                        }
                        @include md{
                            flex-wrap: wrap;
                        }
                        @include sm{
                            gap: 60px;
                        }
                        
                        .card{
                            text-align: center;
                            width: 217px;
                            .img-title{
                                font-size: 23px;
                                font-weight: 400;
                                text-transform: uppercase;
                                padding-bottom: 5px;
                            }
                            .subtitle{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .img-content{
                position: relative;
                .man{
                //   width: 700px;
                //   height: 700px;
                @include media(1630px){
                    display: none;
                }
                }
                .fraza{
                    position: absolute;
                    right: 42%;
                    top: 0%;
                    // width: 449px;
                    // height: 314px;
                    @include media(1630px){
                        display: none;
                    }
                }
                
            }
        }
    }
}