@import '../var.scss';
@import '../mixins.scss';
.contact{
    .container{
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 200px;
            padding: 50px 0;
            @include media(1154px){
                gap: 100px;
            }
            @include lg{
                flex-direction: column;
                text-align: center;
            }
            
            .card{
                width: 520px;
                background: $green;
                box-shadow: 0px 20px 50px rgba(77, 75, 73, 0.2);
                border-radius: 50px;
                color: $white;
                overflow: hidden;
                @include md{
                    width: 310px;
                }
                .cr_code{
                    @include md{
                        width: 220px;
                    }
                }
                
                .top_line{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 50px 50px 50px 30px;
                    
                    .line_card{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        @include md{
                            gap: 5px;
                        }
                        
                        .logo{
                            width: 67px;
                            height: 70px;
                        }
                        
                        .title_card{
                            width: 103px;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 35px;
                            @include md{
                                font-size: 26px;
                            }
                            @include sm{
                                font-size: 20px;
                            }
                        }
                    }
                    .line_text{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        text-align: right;
                        @include sm{
                            gap: 5px;
                        }
                        
                        .bal{
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                        .price{
                            font-size: 20px;
                        }
                    }
                }
                .text{
                    padding: 48px 24px 190px 48px;
                    @include lg{
                        padding: 48px 24px 100px 48px;
                    }
                    
                    .subtitle{
                        font-size: 20px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                }
                .img-blog{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 50px;
                }
            }
            .box{
                .title{
                    font-size: 40px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 60px;
                    @include sm{
                        font-size: 30px;
                    }
                    
                }
                .item{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding-bottom: 30px;
                    @include md{
                        flex-direction: column;
                    }
                    
                    .item_title{
                        font-size: 30px;
                        font-weight: 400;
                        @include sm{
                            font-size: 20px;
                        }
                    }
                }
                .text_btn{
                    display: flex;
                    align-items: center;
                    gap: 33px;
                    padding-top: 50px;
                    @include md{
                        flex-direction: column;
                    }
                    .text{
                        font-size: 40px;
                        font-weight: 400;
                        text-transform: uppercase;
                        @include lg{
                            font-size: 25px;
                        }
                    }
                    .btn{
                        padding: 13px 46px;
                        background: $yellow;
                        border-radius: 30px;
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}