@import '../var.scss';
@import '../mixins.scss';

.main{
    background: $green;
    position: relative;
    .circle{
        position: absolute;
        top: 41%;
        // Media
        @include media(1778px){
            display: none;
        }
    }
    .container{
        .wrapper{
            display: flex;
            justify-content: space-between; 
            @include media(1640px){
                justify-content: center;
            }
            .image-blog{
                .woman{
                    position: relative;
                    z-index: 100;
                    width: 797px;
                    height: 720px;
                    // Media
                    @include media(1640px){
                        display: none;
                    }
                }
                .fraza{
                    position: absolute;
                    bottom: 40%;
                    right: 51%;
                    z-index: 200;
                    // Media
                    @include media(1778px){
                        display: none;
                    }
                }
            }
            .item-blog{
                max-width: 850px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap:10px;
                justify-content: center;
                padding: 110px 0;
                // Media
                @include media(1646px){
                    padding: 95px 0;
                    gap: 50px;
                }
                @include media(398px){
                    gap: 25px;
                }
                
                .item{
                    width: 195px;
                    height: 243px;
                    // Media
                    @include media(1646px){
                        width: 154px;
                        height: 234px;
                    }
                    @include media(1640px){
                        width: 175px;
                        height: 234px;
                    }
                    @include media(398px){
                        width: 145px;
                        height: 234px;
                    }
                    text-align: center;
                    .item-title{
                        color: $white;
                        font-size: 35px;
                        font-weight: 400;
                        text-transform: uppercase;
                        @include sm{
                            font-size: 18px;
                        }
                    }
                    img{
                        width: 195px;
                        height: 195px;  
                        @include media(398px){
                            width: 145px;
                            height: 145px;
                        }
                    }
                }
            }
            
        }
    }
}