@import '../mixins.scss';
@import '../var.scss';

.nav{
    padding: 20px 0;
    border-bottom: 8px dashed $dark;
    background: $white;
    transition: 0.5s;
    
    // media
    @include lg{
        border-bottom: 4px dashed $dark;
    }
    &.active{
        padding: 15px 0;
        width: 100%;
        position: fixed;
        z-index: 1000;
        background: rgba($white, $alpha: 0.9);
    }
    .container{
        .wrapper{
            display: flex;
            align-items: center;
            // gap: 118px;
            // position: relative;
            .burger{
                .burger-btn{
                    i{
                        font-size: 30px;
                        color: $dark;
                    }
                }
            }
            .mobile-block{
                background: #fff;
                width: 220px;
                height: 100vh;
                text-align: center;
                flex-direction: column;
                position: absolute;
                transform: translateX(-100%);
                z-index: 999;
                left: 0;
                top: 0;
                transition: 0.5s;
                
                .burger-btn{
                    background: $yellow;
                    position: relative;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 20px;
                    .logo-burger{
                        width: 40px;
                        height: 43px;
                        position: absolute;
                        right: 174px;
                        top: 4px;
                    }
                    i{
                        font-size: 30px;
                        color: $dark;
                        position: absolute;
                        right: 8px;
                        top: 9px;
                    }
                }
                
                &.active{
                    transform: translateX(0);
                }
                
                .menu-mob{
                    .menu-item{
                        .link{
                            // font-family: 'Oxy-400';
                            font-size: 17px;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                            @include sm{
                                font-size: 15px;
                            }
                        }
                        
                    }
                }
            }
            .logo{
                position: absolute;
                top: 74px;
                // Media
                @include lg{
                    display: none;
                }
            }
            
            .all-nav{
                width: 100%;
                font-size: 20px;
                text-transform: uppercase;
                padding-left: 245px;
                @include lg{
                    padding: 0;
                }
                a{
                    font-size: 20px;
                    // media
                    @include md{
                        font-size: 17px;
                    }
                    @include media(499px){
                        display: none;
                    }
                }
                
                }
                .top-nav{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 14px;
                    // media
                    @include media(725px){
                        justify-content: flex-end;
                        gap: 20px;
                    }
                    @include media(725px){
                        padding-bottom: 0;
                    }
                    
                    .flex-nav-one{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        
                        .top-title{
                            &:hover{
                                color: $yellow;
                            }
                        }
                       
                        
                        
                        .location{
                            width: 27px;
                            height: 36px;
                            &:hover{
                                color: $yellow;
                            }
                            // media
                            @include media(375px){
                                width: 23px;
                                height: 30px;
                            }
                            
                        }
                    }
                    
                    .flex-nav{
                        display: flex;
                        align-items: center;
                        gap: 80px;
                        // media
                        @include md{
                            gap: 40px;
                        }
                        @include media(725px){
                            gap: 20px;
                        }
                        
                        .one-nav{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            
                            .one-title{
                                &:hover{
                                    color: $yellow;
                                }
                            }
                            
                            .shop{
                                width: 45px;
                                height: 36px;
                                @include media(375px){
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                            
                        }
                        .two-nav{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            
                            .one-title{
                                &:hover{
                                    color: $yellow;
                                }
                            }
                            
                            
                            .sun{
                                width: 45px;
                                height: 45px;
                                @include media(375px){
                                    width: 30px;
                                    height: 36px;
                                }
                            }
                            &:hover{
                                color: $yellow;
                            }
                        }
                    }
                }
                .bottom-nav{
                    display: flex;
                    justify-content: space-between;
                    // display: none;
                    
                    .btn-all{
                        display: flex;
                        gap: 35px;
                        @include media(1568px){
                            gap: 15px;
                        }
                        @include media(725px){
                            display: none;
                        }
                    }
                    .btn-array{
                        display: flex;
                        gap: 55px;
                        @include media(1568px){
                            gap: 12px;
                        }
                        @include media(1307px){
                            display: none;
                        }
                        
                    }
                    .btn-bottom{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                       
                        
                        .circle{
                            // margin: 0 auto;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background: #D9DADA;
                            padding-top: 9px;
                        }
                    }
                }
            }
        }
    }
