<template>
  <Modal
  :isActive="isModalOpen" 
   @closeModal="isModalOpen = false"
  />
  <Navbar
   @openModal="isModalOpen = true"
   />
  <Home/>
  <Main/>
  <Product/>
  <Content/>
  <Contact/>
  <Footer/>
</template>

<script>
import Navbar from '../components/Navbar.vue'
import Home from '../components/Header.vue'
import Main from '../components/Main.vue'
import Product from '../components/Product.vue'
import Content from '../components/Content.vue'
import Contact from '../components/Contact.vue'
import Footer from '../components/Footer.vue'
import Modal from '../components/ModalReg.vue'

export default {
    components:{
        Navbar,
        Home,
        Main,
        Product,
        Content,
        Contact,
        Footer,
        Modal
    },
    data(){
    return{
      isModalOpen: false
    }
  }
}
</script>

<style>

</style>