<template>
    <section class="content">
        <Title text="Доставка и оплата"/>
        <div class="container">
            <div class="wrapper">
                <div class="text-content">
                    <div class="top-con">
                        <h3 class="title">Зона доставки</h3>
                        <div class="box">
                            <div class="item">
                                <div class="circle"></div>
                                <p class="subtitle">Минимальная сумма заказа 500 руб.</p>
                            </div>
                            <div class="item">
                                <div class="circle"></div>
                                <p class="subtitle">Минимальная сумма заказа 750 руб.</p>
                            </div>
                            <div class="item">
                                <div class="circle"></div>
                                <p class="subtitle">Минимальная сумма заказа 1000 руб.</p>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6138500.289070094!2d60.081422134701434!3d41.30201932324667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b20a5d676b1%3A0xca0a6dad7e841e20!2z0KPQt9Cx0LXQutC40YHRgtCw0L0!5e0!3m2!1sru!2s!4v1645333603555!5m2!1sru!2s"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="center-con">
                        <h3 class="title">варианты оплаты</h3>
                        <div class="box">
                            <div class="card" v-for="card in threeArray" :key="card.title">
                             <img :src="card.img" alt="img">
                            <h3 class="img-title">{{ card.title }}</h3>
                            <p class="subtitle">{{ card.sub }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="center-bottom">
                        <h3 class="title">способы доставки</h3>
                        <div class="box">
                            <div class="card" v-for="card in twoArray" :key="card.title">
                             <img :src="card.img" alt="img">
                            <h3 class="img-title">{{ card.title }}</h3>
                            <p class="subtitle">{{ card.sub }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-content">
                    <img :src="man" alt="man" class="man">
                    <img :src="fraza" alt="" class="fraza">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Title from '../components/SiteTitle.vue'
export default {
    data(){
        return{
            man:require('../assets/images/гл_станица_ImgID5-removebg-preview 1.png'),
            fraza:require('../assets/images/фраз.png'),
            threeArray:[
                {
                    img:require('../assets/images/icon1.png'),
                    title:'наличными',
                    sub:'Оплата наличными курьеру или при получении заказа'
                },
                {
                    img:require('../assets/images/icon 2.png'),
                    title:'Картой',
                    sub:'Оплата банковской картой курьеру при получение заказа'
                },
                {
                    img:require('../assets/images/icon 3.png'),
                    title:'Онлайн-оплата',
                    sub:'Безопасная и удобная оплата заказ на сайте.'
                },
            ],
            twoArray:[
                {
                    img:require('../assets/images/icon4.png'),
                    title:'курьером',
                    sub:'Вы оплачиваете только заказ, доставка — бесплатно'
                },
                {
                    img:require('../assets/images/icon 5.png'),
                    title:'самовывоз',
                    sub:'Можете сами забрать заказ, указав это при оформлении заказа.'
                },
            ]
        }
    },
    components:{
        Title,
    }
}
</script>

<style lang="scss">
@import '../assets/style/ly/Content.scss';
</style>