<template>
  <section class="contact">
      <Title text="Наша система лояльности"/>
      <div class="container">
          <div class="wrapper">
              <div class="card">
                  <div class="top_line">
                      <div class="line_card">
                          <img :src="img" alt="" class="logo">
                          <h3 class="title_card">{{ title }}</h3>
                      </div>
                      <div class="line_text">
                          <span class="bal">Баланс</span>
                          <span class="price">500</span>
                      </div>
                  </div>
                  <img :src="imgCard" alt=""  class="img_card">
                  <div class="text">
                      <p class="subtitle">Владелец</p>
                  <p class="subtitle">Имя Фамилия</p>
                  </div>
                  <div class="img-blog">
                      <img :src="imgCode" alt="" class="cr_code">
                  </div>
              </div>
              <div class="box">
                  <h3 class="title">{{ boxTitle }}</h3>
                  <div class="item" v-for="item in itemArray" :key="item.title">
                      <img :src="item.itemImg" alt="img" class="item_img">
                      <h3 class="item_title">{{ item.title }}</h3>
                  </div>
                  <div class="text_btn">
                      <h3 class="text">{{ text }}</h3>
                      <button class="btn">получить</button>
                  </div>
              </div>
          </div>
      </div>
  </section>
</template>

<script>
import Title from '../components/SiteTitle.vue'
export default {
    data(){
        return{
            itemArray:[
                {
                    itemImg:require('../assets/images/icon (1).png'),
                    title:'Всегда рядом в вашем телефоне'
                },
                {
                    itemImg:require('../assets/images/icon (2).png'),
                    title:'Участвуй в акциях и получай подарки'
                },
                {
                    itemImg:require('../assets/images/icon (3).png'),
                    title:'Каждый 5-й напиток бесплатно'
                },
                
            ],
            img:require('../assets/images/logo.png'),
            imgCard:require('../assets/images/Rectangle 17.png'),
            imgCode:require('../assets/images/barcode.png'),
            title:'Вита Джус',
            boxTitle:'С картой вы получаете',
            text:'Хотите оформить?'
        }
    },
    components:{
        Title
    }
}
</script>

<style lang="scss">
@import '../assets/style/ly/Contact.scss';
</style>