<template>
  <footer class="footer">
      <div class="container">
          <h3 class="title">{{ title }}</h3>
          <div class="wrapper">
              <div class="links">
                  <a href="#" class="link">Все права пренадлежат</a>
                  <a href="#" class="link">ООО «Компания Вита Джус»</a>
                  <a href="#" class="link">ИНН 12456789/ОГРН123456789833</a>
              </div>
              <div class="text">
                  <a href="#" class="link">Публичная оферта</a>
                  <a href="#" class="link">Политика конфиденциальности</a>
              </div>
              <div class="text">
                  <a href="#" class="link">Пользовательское соглашение</a>
                  <a href="#" class="link">Бонусная программа</a>
              </div>
          </div>
      </div>
  </footer>
  <div class="social">
      <div class="container">
          <h3 class="title_social">присоединяйтесь к vita juice</h3>
      <div class="icons">
          <img :src="iconOne" alt="social" class="icon">
          <img :src="iconTwo" alt="social" class="icon">
          <img :src="iconThree" alt="social" class="icon">
      </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            title:'правовая информация',
            iconOne:require('../assets/images/vk.png'),
            iconTwo:require('../assets/images/instagram 1.png'),
            iconThree:require('../assets/images/facebook.png'),
        }
    }
}
</script>

<style lang="scss">
@import '../assets/style/mixins.scss';
@import '../assets/style/var.scss';

.footer{
    padding: 40px 0;
    border-bottom: 8px dashed $dark;
    border-top: 8px dashed $dark;
    @include lg{
        border-bottom: 4px dashed $dark;
        border-top: 4px dashed $dark;  
    }
    
    .container{
        .title{
            font-size: 50px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 10px;
            @include lg{
                font-size: 40px;
                text-align: center;
                font-size: 30px;
            }
            @include md{
                font-size: 18px;
            }
        }
        .wrapper{
            display: flex;
            justify-content: space-between;
            @include md{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
 
        }
            
            .links{
                display: flex;
                flex-direction: column;
                @include md{
                    text-align: center;
                }
                
                .link{
                    font-size: 30px;
                    margin-bottom: 5px;
                    @include lg{
                        font-size: 17px;
                    }
                }
            }
            .text{
                display: flex;
                flex-direction: column;
                gap: 45px;
                @include lg{
                    gap: 20px;
                }
                @include md{
                    text-align: center;
                }
                
                .link{
                    font-size: 30px;
                    @include lg{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
.social{
    color: $white;
    background: $green;
    padding: 50px 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include md{
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        
        .title_social{
            font-size: 80px;
            font-weight: 400;
            text-transform: uppercase;
            @include media(1154px){
                font-size: 40px;
            }
            @include lg{
                font-size: 25px;
            }
            @include sm{
                font-size: 18px;
            }
        }
        
        .icons{
            display: flex;
            gap: 35px;
            .icon{
                @include lg{
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }
}
</style>