<template>
  <div class="home">
      <div class="container">
          <img :src="text" alt="text" class="text">
          <img :src="pri" alt="price" class="price">
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            text:require('../assets/images/text_header.png'),
            pri:require('../assets/images/price_header.png'),
        }
    }
}
</script>

<style lang="scss">
@import '../assets/style/mixins.scss';
    .home{
        background: url('../assets/images/bgimages.jpg')no-repeat center / cover;
        // height: 100vh;
        .container{
            padding: 115px 95px;
            display: flex;
            justify-content: space-between;
            // Media
            @include media(964px){
                padding: 100px 30px;
            }
            @include media(375px){
                padding: 40px 30px;
            }
            @include media(401px){
                padding: 60px 30px;
            }
            // @include media(496px){
            //     padding: 100px ;
            // }
            .text{
                width: 798px;
                height: 539px;
                // Media
                @include media(1568px){
                    width: 470px;
                    height: 400px;
                }
                 @include media(964px){
                    width: 332px;
                    height: 315px;
                }
                 @include media(713px){
                   width: 176px;
                   height: 183px;
                }
                @include media(496px){
                    width: 190px;
                    height: 165px;
                }
                @include media(439px){
                    width: 200px;
                    height: 100px;
                }
                @include media(375px){
                    width: 133px;
                    height: 89px;
                }
            }
            
            .price{
                width: 484px;
                height: 538px;
                // Media
                @include media(1568px){
                    width: 400px;
                    height: 445px;
                }
                 @include media(964px){
                   width: 283px;
                   height: 312px;
                }
                @include media(713px){
                    width: 185px;
                    height: 190px;
                }
                @include media(496px){
                   width: 170px;
                   height: 175px;
                }
                @include media(439px){
                    width: 124px;
                    height: 115px;
                }
                @include media(375px){
                    width: 80px;
                    height: 83px;
                }
               
            }
        }
    }
</style>