<template>
  <section class="main">
      <Title text="наша продукция"/>
      <div class="container">
          <img :src="circle" alt="circle" class="circle">
          <div class="wrapper">
              <div class="image-blog">
                  <img :src="he" alt="woman" class="woman">
                  <img :src="fraza" alt="fraza" class="fraza">
              </div>
              <div class="item-blog">
                  <div class="item" v-for="card in itemArray" :key="card.title">
                      <img :src="card.img" alt="img" class="item-img">
                      <h3 class="item-title">{{ card.title }}</h3>
                  </div>
              </div>
          </div>
      </div>
  </section>
</template>

<script>
import Title from '../components/SiteTitle.vue'
export default {
    components:{
        Title
    },

    data(){
        return{
            he:require('../assets/images/woman.png'),
            circle:require('../assets/images/circle.png'),
            fraza:require('../assets/images/фраза.png'),
            itemArray:[
              {
                img:require('../assets/images/items/i-1.png'),
                title:'соки'
              },
              {
                img:require('../assets/images/items/i-2.png'),
                title:'миксы'
              },
              {
                img:require('../assets/images/items/i-3.png'),
                title:'смузи'
              },
              {
                img:require('../assets/images/items/i-4.png'),
                title:'детоксы'
              },
              {
                img:require('../assets/images/items/i-5.png'),
                title:'ласси'
              },
              {
                img:require('../assets/images/items/i-6.png'),
                title:'боулы'
              },
              {
                img:require('../assets/images/items/i-7.png'),
                title:'салаты'
              },
              {
                img:require('../assets/images/items/i-8.png'),
                title:'здоровая еда'
              },
            ]
        }
    }
}
</script>

<style lang="scss">
    @import '../assets/style/ly/Main.scss';
</style>