<template>
     <div class="card_modal">
      <div class="modal_reg" :class="{ active: isActive }" >
      <div class="top">
          <h3 class="top_title">{{ topTitle }}</h3>
          <div class="close_top" >
              <i class="fas fa-times" @click="$emit('closeModal')"></i>
          </div>
       </div>  
       <form @submit.prevent >
           <div class="input_box">
              <h3 class="input_title">Имя</h3>
              <input type="text">
          </div>
          <div class="input_box">
              <h3 class="input_title">Телефон</h3>
              <input type="text">
          </div>
          <div class="input_box">
              <h3 class="input_title">Введите код</h3>
              <input type="text">
          </div>
          <button class="btn">войти</button>
       </form>
  </div>
  </div>
    
</template>

<script>
export default {
    props: {
		isActive: {
			type: Boolean,
			default: () => false
		}
	},
    data(){
        return{
            
            topTitle:'Вход на сайт',
        }
    }
}
</script>

<style lang="scss">
@import '../assets/style/var.scss';
@import '../assets/style/mixins.scss';
 
  .card_modal{
    
    .modal_reg{  
        width: 620px;
        min-height: 405px;
        background: $white;
        position: absolute;
        top:200px;
        left: 50%;
        transform: translateX(-50%); 
        border-radius: 50px;
        overflow: hidden;
        transition: 0.5s;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        // Media
        @include media(626px){
            width: 500px;
        }
        @include media(503px){
            top: 100px;
            width: 330px;
        }
        
        &.active{
            opacity: 1;
            pointer-events: all;
        
        }
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 50px;
            background: $yellow;
            margin-bottom: 30px;
            @include media(503px){
               padding: 25px 19px;
            }
            
            .top_title{
                font-size: 25px;
                font-weight: 400;
                @include media(503px){
                    font-size: 20px;
                }
            }
            
            .close_top{
                cursor: pointer;
                i{
                    font-size: 25px;
                }
            }
        }
        form{
            padding: 0px 45px;
            text-align: right;
            // Media
            @include media(503px){
                padding: 0px 10px;
            }
            .input_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
            
            
            
            .input_title{
                font-size: 25px;
                font-weight: 400;
                @include media(503px){
                    font-size: 20px;
                }
            }
            
            input{
                width: 300px;
                border: none;
                background: none;
                font-size: 18px;
                border-bottom: 8px dashed $dark;
                // media
                @include media(626px){
                    width: 200px;
                }
                @include media(503px){
                    width: 160px;
                }
            }
        }
        .btn{
            padding: 8px 25px;
            font-size: 20px;
            background: $yellow;
            border-radius: 50px;
            text-align: left;
            margin-top: 27px;
        }
        }
    }
 }      
        

</style>