<template>
  <nav class="nav" :class="{ active: isNavbarOpen }">
    <div class="container">
      <div class="wrapper">
        <!-- logo -->
        <img :src="logo" alt="logo" class="logo" />
        <!-- mobile-block -->
        <div class="mobile-block" v-if="isMobile" :class="{ active: isOpen }">
          <div class="burger-btn" @click="isOpen = !isOpen">
            <img :src="logo" alt="logo" class="logo-burger" />
            <i class="fas fa-times" v-if="isOpen"></i>
          </div>
          <ul class="menu-mob">
            <li class="menu-item" v-for="menu in menuArray" :key="menu.title">
              <a href="#" class="link">{{ menu.title }}</a>
            </li>
          </ul>
        </div>
        <!-- berger -->
        <div class="burger" v-if="isMobile">
          <div class="burger-btn" @click="isOpen = !isOpen">
            <i class="fas fa-bars" v-if="!isOpen"></i>
          </div>
        </div>
        <div class="all-nav">
          <!-- top-nav -->
          <div class="top-nav">
            <div class="flex-nav-one">
              <img :src="lac" alt="location" class="location" />
              <a href="#" class="top-title">ваш регион</a>
            </div>

            <div class="flex-nav">
              <div class="one-nav">
                <a href="#" class="one-title">корзина (0)</a>
                <img :src="shop" alt="shop" class="shop" />
              </div>
              <div class="two-nav" @click="$emit('openModal')">
                <a href="#" class="one-title">войти</a>
                <img :src="sun" alt="sun" class="sun" />
              </div>
            </div>
          </div>
          <!-- bottom-nav -->
          <div class="bottom-nav">
            <div class="btn-all">
              <div class="btn-bottom" v-for="btn in btnAll" :key="btn.title">
                <a href="#" class="btn-title">{{ btn.title }}</a>
                <div class="circle"></div>
              </div>
            </div>
            <div class="btn-array">
              <div class="btn-menu" v-for="menu in menuArray" :key="menu.title">
                <a href="#" class="link">{{ menu.title }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import Modal from "../components/ModalReg.vue";
export default {
  data() {
    return {
      isOpen: false,
      isMobile: false,
      isNavbarOpen: false,
      logo: require("../assets/images/logo.png"),
      lac: require("../assets/images/loc-navbar.png"),
      shop: require("../assets/images/корзина.png"),
      sun: require("../assets/images/sun-navbar.png"),
      menuArray: [
        {
          title: "о нас",
        },
        {
          title: "франшиза",
        },
        {
          title: "контакты",
        },
        {
          title: "работа",
        },
      ],
      btnAll: [
        {
          title: "соки",
        },
        {
          title: "миксы",
        },
        {
          title: "ласси",
        },
        {
          title: "детокс",
        },
        {
          title: "боулы",
        },
        {
          title: "салаты",
        },
        {
          title: "здоровая еда",
        },
      ],
    };
  },
  methods: {
    checkScreenWidth() {
      const windowWidth = window.innerWidth;
      if (windowWidth <= 725) {
        this.isMobile = true;
        return;
      }
      this.isMobile = false;
      this.isOpen = false;
    },
  },
  mounted() {
    this.checkScreenWidth();
    window.addEventListener("resize", this.checkScreenWidth);
    window.addEventListener("scroll", () => {
      window.pageYOffset > 0
        ? (this.isNavbarOpen = true)
        : (this.isNavbarOpen = false);
    });
  },
  components: {
    Modal,
  },
};
</script>

<style lang="scss">
@import "../assets/style/ly/Navbar.scss";
</style>