<template>
	<section class="product">
			<Title text="Хиты продаж"/>
			<div class="container">
					<div class="wrapper">
							<div class="card" v-for="card in cardArray" :key="card.title">
									<img :src="card.img" alt="card" class="card-img">
									<h3 class="title-card">{{ card.title }}</h3>
									<h4 class="sub-card">{{ card.sub }}</h4>
									<div class="price">
											<span>{{ card.price }}</span>
											<img :src="img" alt="" class="like">
									</div>
									<button class="btn">в корзину</button>
							</div>
					</div>
					<button class="btn-con">всё соки</button>
			</div>
	</section>
</template>

<script>
import Title from '../components/SiteTitle.vue'
export default {
		data(){
				return{
						img:require('../assets/images/like.png'),
						cardArray:[
				{
						img:require('../assets/images/c-1.png'),
						title:'ласси',
						sub:'500 мл',
						price:'375₽'
				},
				{
						img:require('../assets/images/c-2.png'),
						title:'микс',
						sub:'500 мл',
						price:'400₽'
				},
				{
						img:require('../assets/images/c-3.png'),
						title:'боул',
						sub:'500 мл',
						price:'450₽'
				},
		],
				}
		},
		
		components:{
				Title
		}
}
</script>

<style lang="scss">
@import '../assets/style/var.scss';
@import '../assets/style/mixins.scss';
		.product{
			.container{
				text-align: center;
					.wrapper{
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 58px 0;
							gap: 30px;
						 //  Media
						 @include media(1333px) {
							flex-wrap: wrap;
						 }
							
							.card{
									width: 510px;
									text-align: center;
									border-radius: 50px;
									cursor: pointer;
									transition: 0.5s;
									&:hover{
											box-shadow: 0px 20px 50px rgba(77, 75, 73, 0.2);
											transform: translateY(-7px);
									}
									@include media(1084px){
										width: 430px;
									}
									.card-img{
										 padding: 50px 0 18px;
										 
										// Media
										@include media(425px){
												width: 217px;
										}
									}
									.title-card{
											text-transform: uppercase;
											font-size: 40px;
											padding-bottom: 10px;
											font-weight: 400;
											// Media
										@include sm{
												font-size: 30px;
										}
									}
									.sub-card{
											font-size: 25px;
											color: #797272;
											font-weight: 400;
											padding-bottom: 17px;
									}
									.price{
											display: flex;
											justify-content: center;
											align-items: center;
											padding-bottom: 25px;
											gap: 25px;
											@include media(425px){
													gap: 15px;  
											}
											
											
											span{
													font-size: 40px;
													@include media(425px){
														font-size: 17px;
													}  
											}
											.like{
													width: 31px;
													height: 25px;
											}
									}
									.btn{
											background: $yellow;
											padding: 15px 38px;
											border-radius: 30px;
											margin-bottom: 50px;
											font-size: 20px;
											text-transform: uppercase;
											transition: 0.5s;
											 @include lg {
												 font-size: 18px;
												 padding: 10px 20px;
											 }
											
											&:hover{
													background: $white;
													color: $yellow;
												//   border: 1px solid $yellow;
											}
									}
							}
					}
			}
			.btn-con{
				padding: 15px 25px;
				font-size: 20px;
				text-transform: uppercase;
				background: $yellow;
				margin-bottom: 20px;
				border-radius: 20px;
				transition: 0.5s;
				
				&:hover{
					color: $yellow;
					background: $dark;
				}
			}
		}
</style>