<template>
  <div class="site-title">
      <h3 class="title">{{ text }}</h3>
  </div>
</template>

<script>
export default {
    props:{
        text:String,
    },
    data(){
        return{
            
        }
    }
}
</script>

<style lang="scss">
@import '../assets/style/var.scss';
@import '../assets/style/mixins.scss';
    .site-title{
        width: 100%;
        text-align: center;
        padding: 30px 0;
        border-bottom: 8px dashed $dark;
        border-top: 8px dashed $dark;
        background: $white;
        // media
        @include lg{
          padding: 15px 0;
          border-bottom: 4px dashed $dark;
          border-top: 4px dashed $dark;  
        }
        .title{
            font-size: 80px;
            font-weight: 400;
            text-transform: uppercase;
            // media
            @include lg{
                font-size: 40px;
            }
        }
    }
</style>